* {
  margin: 0;
  padding: 0;
}

html {
    
}

body {
    border: 2px solid red;
    height: 100vh;
}

.site-head {
    border: 2px solid rgb(43, 255, 0);
    max-width: 100%;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    color: black;
}



footer {
    position: absolute;
    bottom: 0;
}
