:root {
  --max-width: 1440px;
  --padding-page: 3rem;
  --header-height: 6rem;
  --section-height: calc(100vh - var(--header-height));
  --bs-body-font-family: "Encode Sans Expanded", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #ffffff;
}

body {
  min-height: 100vh;
  background: #343434;
  font-family: var(--bs-body-font-family);
}

.site-head {
  max-width: 100%;
  background-color: #979797;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
.site-head nav .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}
.site-head nav .menu .logo-nav {
  width: 80%;
  padding: 5px;
}
.site-head nav .menu .logo-nav a img {
  width: 40%;
}
.site-head nav .menu li a {
  display: block;
  padding: 15px 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}
.site-head nav .menu a:hover {
  color: #01328d;
}

main {
  max-width: 100%;
}
main .welcome {
  position: relative;
}
main .welcome .container-welcome {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
main .welcome .container-welcome .welcome-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .welcome .container-welcome .welcome-content .welcome-about {
  margin-top: 20px;
}
main .welcome .container-welcome .welcome-content .welcome-about .about-description {
  text-align: center;
  margin-bottom: 20px;
}
main .welcome .container-welcome .welcome-content .welcome-about .about-description h2 {
  margin: 10px 0;
}
main .welcome .container-welcome .welcome-content .welcome-about .welcome-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .welcome .container-welcome .welcome-content .welcome-about .welcome-btn a {
  text-decoration: none;
}
main .welcome .container-welcome .welcome-content .welcome-img {
  padding: 20px 0;
  width: 50%;
}
main .welcome .container-welcome .welcome-content .welcome-img img {
  width: 100%;
}
main .container-tittle {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
main .my-info {
  position: relative;
}
main .about-me {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
main .my-skylls {
  position: relative;
}
main .languaje {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
main .languaje ul {
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
}
footer .footer-content {
  padding: 10px;
  background-color: #110f1a;
}
footer .redes-sociales {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

/* =============================================================
Media Querys
============================================================== */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
}
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  nav,
.menu {
    display: flex;
    flex-direction: column;
  }
}
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}

/*# sourceMappingURL=style.css.map */
